name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set version
        id: version
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/v}
          else
            VERSION=$(jq -r .version manifest.json)
          fi
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Create ZIP
        run: |
          zip -r "Stasher_${{ env.VERSION }}.chromium.zip" . -x "*.git*" ".github/*" "README.md"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: stasher-extension
          path: Stasher_${{ env.VERSION }}.chromium.zip

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: Stasher_${{ env.VERSION }}.chromium.zip
          generate_release_notes: true
